<div class="modal-header">
  <h3 class="modal-title">Export</h3>
</div>

<div class="modal-body container">
  <div class="row" style="padding-top: 5px;">
    <uib-accordion close-others="oneAtTime" >
      <div uib-accordion-group class="panel-success" heading="Liste der zu exportierenden Stammdaten ({{mdSelection.length}})" is-disabled="mdSelection.length === 0 ? true : false">
        <ul>
          <li ng-repeat="rmd in mdSelection">{{rmd.name}} <em>[ID: {{rmd.id}}, Bezugsjahr: {{rmd.bezugsjahr}}]</em></li>
        </ul>
      </div>
    </uib-accordion>
  </div>
  <div ng-if="requiredMds.length > 0">
    <div class="row">
      Die Selektion beinhaltet Stammdaten, die ein Stammdatum referenzieren, welches nicht explizit ausgewählt wurde.
    </div>
    <div class="row" style="padding-top: 15px;">
      <uib-accordion close-others="oneAtTime" >
        <div ng-repeat="md in requiredMds " uib-accordion-group class="panel-danger">
          <uib-accordion-heading>
            Referenz auf <strong><em>{{md.name}} [ID: {{md.id}}, Bezugsjahr: {{md.bezugsjahr}}]</em></strong>
          </uib-accordion-heading>
          <h5>Abhängige Stammdaten</h5>
          <ul>
            <li ng-repeat="rmd in mdGroupByReference[md.id]">{{rmd.name}} <em>[ID: {{rmd.id}}, Bezugsjahr: {{rmd.bezugsjahr}}]</em></li>
          </ul>
          <div class="pull-right">
            <button class="btn btn-primary btn-xs" style="margin: 5px;" ng-click="accept(md)">Übernehmen</button>
            <button class="btn btn-warning btn-xs" style="margin: 5px;" ng-click="reject(md)">Verwerfen</button>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="export()" ng-disabled="requiredMds.length > 0">Exportieren</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Abbrechen</button>
</div>


